.cls-1 {
  fill: #343333;
}
.cls-2 {
  fill: #c3c3c3;
}
.cls-3 {
  fill: #111111;
}
.cls-4 {
  fill: #8b8b8b;
}
.cls-5 {
  fill: #525151;
}
.cls-6 {
  fill: #696969;
}

path:nth-child(7) {
  fill: #f44336;
}

path:nth-child(8) {
  fill: #ff9800;
}

path:nth-child(9) {
  fill: #00bcd4;
}
